mixin find-pairs
    .find-pairs
        .wrap
            .field.transparent
            .field.transparent
            .field.transparent
            .field.transparent
            .field.transparent
            .field.transparent
            .field.transparent
            .field.transparent
            .field.transparent
            .field.transparent
            .field.transparent
            .field.transparent
            .field.transparent
            .field.transparent
            .field.transparent
            .field.transparent
        button.find-pairs__button Start
        .find-pairs__timer 00 : 00